*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
} 

@font-face {
    font-family: 'gwtwofontregular';
    src: url('fonts/gwtwofont-webfont.woff2') format('woff2'),
         url('fonts/gwtwofont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cronos Pro';
    src: url('fonts/CronosPro-Regular.woff2') format('woff2'),
        url('fonts/CronosPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NewKrytan';
    src: url('fonts/NewKrytan.woff2') format('woff2'),
        url('fonts/NewKrytan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(22, 22, 22);
}

section, header {
    height: 35rem;
    /* background-image: url("images/leviathan.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

p {
    font-family: 'Cronos Pro';
    color: rgba(255, 255, 255, 0.9);
}

.newKrytan {
    font-family: "NewKrytan";
}

/* #sectionsWrapper {
   
} */

/* HERO */
#hero {
    background-image: url("images/leviathan.jpg");
    background-position-x: -200px;
    display: flex;
    user-select: none;
    height: 40rem;
}
    #heroTitle {
        margin: auto;
        margin-top: 14rem;
        padding: 0.5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        left: 50%;
        position: static;
        transition: 1s;
        z-index: 10;
    }
        /* ANIMATIONS */
        #heroTitle.heroTitleScroll {
                margin-top: 0;
                position: fixed;
                margin-left: -50vw;
                transition: 0s;
                width: 100vw;
                font-size: 1rem;
                background-color: rgba(0, 0, 0, 0.9);
        }
            #hT1.hT1 {
                font-size: 2rem;
                transition: 0.5s;
            }  
            #hT2.hT2 {
                font-size: 1rem;
                transition: 0.5s;
            }
            #hT3.hT3 {
                font-size: 0.8rem;
                transition: 0.5s;
            }

        #heroTitle h1, #heroTitle h2 {
            margin: auto;
            font-family: 'gwtwofontregular';
            font-weight: normal;
            font-style: normal;
        }
        #heroTitle h1 {
            font-size: 3rem;
            font-weight: bold;
        }
        #heroTitle h2 {
            margin-top: -0.5rem;
            font-size: 1.5rem;
        }
            #heroTitle h2 span {
                font-size: 1.2rem;
            }
    #heroP {
        margin: auto;
        width: 16rem;
        margin-top: -15.5rem;
        text-align: center;
        font-size: 0.9rem;
        text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.705);
    }
#bounceArrow {
    position: absolute;
    left: 50%;
    width: 2.5rem;
    margin-left: -1.75rem;
    font-size: 2.5rem;
    animation: bounceArrow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bounceArrow {
    0% {
        top: 33rem;
    } 50% {
        top: 35rem;
    } 100% {
        top: 33rem;
    }
}

/* SECTION */
section {
    background-color: rgb(58, 43, 26);
    width: 100vw;
}
    .sectionHeader {
        display: flex;
        text-shadow: 2px 0px 5px black;
        width: fit-content;
        margin: 1rem auto;
        border-bottom: 3px solid rgb(255, 186, 73);
        padding: 0.33rem;
    }
        .sectionHeader h2 {
            margin: auto;
        }
    .sectionImg {
        background-image: url("images/AWR.jpg");
        background-position: center;
        background-size: cover;
        height: 35rem;
        transition: 1s;
        display: flex;
        flex-direction: column;
    }
        #sectionImgOne {
            animation: imgAni;
            animation-duration: 15s;
            animation-iteration-count: infinite;
        } 
            #sectionImgTwo {
                animation: imgAni2;
                animation-duration: 15s;
                animation-iteration-count: infinite;
                background-image: url("images/C4_Tengu_concept_art.jpg");
            }
                #sectionImgThree {
                    animation: imgAni;
                    animation-duration: 15s;
                    animation-iteration-count: infinite;
                    background-image: url("images/rEr.jpg");
                }
                    #sectionImgFour {
                        animation: imgAni2;
                        animation-duration: 15s;
                        animation-iteration-count: infinite;
                        background-image: url("images/Kry.jpg");
                    }
        @keyframes imgAni {
            0% {
                background-position-x: 0px;
            } 50% {
                background-position-x: 48%;
            } 100% {
                background-position-x: 0px;
            }
        }
        @keyframes imgAni2 {
            0% {
                background-position-x: 48%;
            } 50% {
                background-position-x: 0px;
            } 100% {
                background-position-x: 48%;
            }
        }
    .UiText {
        margin: auto;
        margin-top: -1.45rem;
        height: 2.5rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        width: fit-content;
        padding: 0.8rem 1rem 0rem 1rem;
        border-left: 3px solid rgb(70, 129, 137);
        border-right: 3px solid rgb(70, 129, 137);
    }
    .sectionInfo {
        height: 10rem;
        margin: auto auto 0rem auto;
    }
        .sectionUi {
            height: 3rem;
            margin: auto;
            margin-top: -0.65rem;
            display: flex;
            flex-direction: column;
        }
            .sectionUi h3 {
                margin: auto;
                font-weight: bold;
            }
        .sectionUiTop {
            display: flex;
            width: 9rem;
            margin: auto;
        }
        .UiButtonWrap {
            display: flex;
            margin: auto;
            width: 5rem;
        }
            .UiButtonWrap:nth-child(2), .UiButtonWrap:nth-child(3) {
                width: 1rem;
            }
                .glowCall {
                    animation: rightGlow;
                    animation-duration: 1.5s;
                    animation-iteration-count: infinite;
                }
                @keyframes rightGlow {
                    0% {
                        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
                        background-color: black;
                    } 50% {
                        box-shadow: 0px 1px 10px rgb(53, 215, 255);
                        background-color: rgb(53, 215, 255);
                    } 100% {
                        box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
                        background-color: black;
                    }
                }
            .UiButton {
                box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
                border: 2px solid white;
                background-color: black;
                width: 1rem;
                height: 1rem;
                margin: auto;
                transform: rotate(45deg);
                cursor: pointer;
                transition: 0.33s;
            }
            .UiButton:first-child {
                background-color: white;
            }
    .sectionDetails {
        width: 21rem;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0.33rem;
        border-left: 3px solid rgb(70, 129, 137);
        border-right: 3px solid rgb(70, 129, 137);
    }

/* LFG TOOL */
#lfgTool {
    background-color: rgba(0, 0, 0, 0.9);
    width: 90%;
    margin: auto;
}
    #lfgUp {
        display: flex;
        height: 2rem;
    }
        #myRole {
            margin: auto;
            width: 10rem;
            margin-left: 0rem;
            margin-top: 0.43rem;
            pointer-events: none;
            display: flex;
        }
            #moodText, #roleText {
                margin: auto;
            }
                #moodText {
                    margin-right: 0.15rem;
                }
                #roleText {
                    margin-left: 0.15rem;
                    display: flex;
                }
                    #roleTextOne{
                        margin-right: 0.15rem;
                    } #roleTextTwo {
                        margin-left: 0.15rem;
                    }
        #role {
            margin: auto auto auto 0.5rem;
            display: flex;
        }
        #mood {
            margin: auto 0.5rem auto auto;
        }
        i {
            margin: auto 0.15rem;
            cursor: pointer;
        } 
            #roleQ, #roleA, #roleH, #moodT {
                color: rgba(255, 255, 255, 0.2);
            }
    #lfgDown {
        height: 15rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
    }
        #lfgDownLeft, #lfgDownRight {
            margin: auto;
            height: 14rem;
        }
        #lfgDownLeft {
            margin-right: 0.15rem;
        }
            #lfgDownLeft ul {
                list-style: none;
                padding: 0.1rem;
                padding-right: 0.33rem;
                height: 13.6rem;
                overflow-y: scroll;
            }
                #lfgDownLeft ul li {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    margin: 0.33rem;
                    padding: 0.33rem;
                    color: rgba(255, 255, 255, 0.2);
                }
                #lfgDownLeft ul li:first-child {
                    color: white
                }
        #lfgDownRight {
            width: 63%;
            margin-left: 0.15rem;
            border: 1px solid rgba(255, 255, 255, 0.5);
            display: flex;
        }
            #listing {
                margin: auto;
                padding: 0.33rem;
            }
                #listing p {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    margin: 1rem;
                }


@media screen and (min-width: 760px) {
    section {
        width: 48.5vw;
        margin: 0.15rem;
    }
    #sectionsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1400px) {
    section {
        width: 24.7vw;
        margin: 0.1rem auto;
    }
    #sectionsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #hero {
        height: 55rem;
    }
}
@media screen and (min-width: 670px) {
    #hero {
        background-position-x: 0px;
    }
}











